:root {
	--bg-color: #050505;
	--surface-color: #121212;
	--primary-color: #00A3E0;
	--focus-color: #FF8700;
	--text-primary: #FFFFFF;
	--text-secondary: #A7A9AC;
	--border-color: #333333;
}

.light-theme {
	--bg-color: #F5F5F5;
	--surface-color: #FFFFFF;
	--text-primary: #101010;
	--text-secondary: #4A4A4A;
	--border-color: #CCCCCC;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%); /* Escondido acima da tela */
  background: #ff8c00; /* Laranja para combinar com seu foco */
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0 0 8px 8px;
  z-index: 9999;
  transition: transform 0.3s ease;
}

/* Quando o usuário aperta TAB pela primeira vez, ele aparece */
.skip-link:focus {
  transform: translateX(-50%) translateY(0);
}

body {
	background-color: var(--bg-color);
	color: var(--text-primary);
	font-family: 'Inter', sans-serif;
	font-size: 1.6rem;
	transition: all 0.3s ease;
}

body.dyslexia-mode {
	font-family: 'Lexend', 'Open Sans',sans-serif; !important;
	letter-spacing: 0.1rem;
}

:focus-visible {
	outline: 3px solid var(--focus-color);
	outline-offset: 0.2rem;
}

body.high-contrast-mode {
	font-family: 'Atkinson Hyperlegible', sans-serif; !important;
	--bg-color: #000000;
	--surface-color: #000000;
	--text-primary: #FFFF00;
	--text-secondary: #FFFFFF;
	--border-color: #FFFFFF;
	--focus-color: #00ff00;
}

body.high-contrast-mode .cut-card {
	background: #0000;
	backdrop-filter: none;
	border: 2px solid #FFFF;
}