:root {
  --bg-main: rgba(15, 23, 42, 0.7);
  --bg-color: #050505;
  --surface-color: #121212;
  --primary-color: #00a3e0;
  --focus-color: #ff8700;
  --text-primary: #ffffff;
  --text-secondary: #a7a9ac;
  --border-color: #333333;
  --border-preview: 1px solid rgba(255, 255, 255, 0.08);
  --btn-primary: linear-gradient(135deg, #0ea5e9, #0284c7);
}

html.light-theme {
  --bg-color: #f5f5f5;
  --surface-color: #ffffff;
  --text-primary: #101010;
  --text-secondary: #4a4a4a;
  --border-color: #cccccc;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%); /* Escondido acima da tela */
  background: #ff8c00; /* Laranja para combinar com seu foco */
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0 0 8px 8px;
  z-index: 9999;
  transition: transform 0.3s ease;
}

/* Quando o usuário aperta TAB pela primeira vez, ele aparece */
.skip-link:focus {
  transform: translateX(-50%) translateY(0);
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  transition: all 0.3s ease;
}

body.dyslexia-mode {
  font-family: 'Lexend', 'Open Sans', sans-serif !important;
  letter-spacing: 0.1rem;
}

body.enhanced-vision-110 {
  font-size: 1.76rem;
  line-height: 1.8;
}

body.enhanced-vision-125 {
  font-size: 2rem;
  line-height: 2;
}

:focus-visible {
  outline: 3px solid var(--focus-color);
  outline-offset: 0.2rem;
}

body.high-contrast-mode {
  font-family:
    'Atkinson Hyperlegible', sans-serif !important;
  --bg-color: #000000;
  --surface-color: #000000;
  --text-primary: #ffff00;
  --text-secondary: #ffffff;
  --border-color: #ffffff;
  --focus-color: #00ff00;
}

body.high-contrast-mode .cut-card {
  background: #0000;
  backdrop-filter: none;
  border: 2px solid #ffff;
}
